<ion-view can-swipe-back="false" cache-view="false" view-title="Arguments">
  <ion-nav-bar class="bar-main">
    <ion-nav-back-button class="button-clear" ng-click="pressBack()">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="refreshCounterArguments()">
    </ion-refresher>

    <div class="row">
      <textarea rows="4" cols="40" ng-model="modelData.argText" placeholder="Add counter argument"></textarea>
      <button class="button button-small" ng-click="createCounterArgument()">
        <i class="icon ion-paper-airplane"></i>
      </button>
    </div>

    <argument-card arg-info="argInfo"></argument-card>
    <div ng-repeat="argument in getCounterArguments">
      <argument-card arg-info="argument" truncate=false></argument-card>
    </div>
  </ion-content>
</ion-view>
