<ion-view nav-transition="none" can-swipe-back="false" cache-view="false" view-title="Counter Arguments">
  <ion-nav-bar class="bar-main">
    <ion-nav-back-button class="button-clear" ng-click="pressBack()">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refreshCounterArguments()">
    </ion-refresher>

    <argument-card arg-info="argInfo"></argument-card>
    <div ng-repeat="argument in getCounterArguments">
      <argument-card arg-info="argument" truncate=false></argument-card>
    </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable" style="height: auto !important; padding: 7px; padding-bottom: 4px; background-color: #f7f7f7 !important;">
    <textarea cols="30" id="argument-text-area" ng-model="modelData.argText" ng-click="refreshCounterArguments()" ng-change="updateTextArea()"> </textarea>
    <button id="post-button" class="button button-balanced button-post" ng-click="createCounterArgument()" ng-disabled="true" style="padding-left: 4px !important;">Post</button>
  </ion-footer-bar>
</ion-view>
