<ion-view>
  <ion-content class="padding">

  	<button class="button button-clear button-assertive" ng-click="goBackHome()">
	  Back
	</button>
    <div>
    <h3 style="text-align:center"> Enter Debate Details </h3>
	
	<div class="list">

	  <label class="item item-input" ng-click="openPopover($event)">
	    <span class="input-label">Topic</span>
	  </label>
	  
	  <label class="item item-input">
	    <span class="input-label" >Debate Premise</span>
	    <input type="text" ng-model="Premise">
	  </label>
	  
	  <label class="item item-input">
	    <span class="input-label">End Date</span>
	    <input type="date" ng-model="EndDate">
	  </label>
	  
	  <label class="item item-input">
	    <span class="input-label">End Time</span>
	    <input type="time" ng-model="EndTime">
	  </label>
	</div>

	<button class="button button-block button-positive" ng-click="create(Topic,Premise,EndDate,EndTime)"> Create </button>
    
    </div>
  </ion-content>

  <ion-footer-bar class="bar bar-footer bar-dark">
  </ion-footer-bar>
</ion-view>
