<ion-view cache-view="false">
  <!--
      The nav bar that will be updated as we navigate between views.
    -->
  <div ng-controller="MainDebateCtrl">
    <ion-nav-bar class="bar-main">
      <ion-nav-back-button class="button-clear">        </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-clear button-light" ng-click="subscribe(debateData.debateID)">
          <p ng-bind-html="subVal"></p>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  </div>
  <ion-content class="padding">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="refreshArguments()">
    </ion-refresher>
    <h1> {{ debateData.premise }} </h1>
    <div class="button-bar">
      <a id="proBut" ng-click="switchArgState('pro')" class="button button-positive">Pro</a>
      <a id="conBut" ng-click="switchArgState('con')" class="button button-assertive button-outline">Con</a>
    </div>

    <div class="row">
      <textarea rows="4" cols="33" ng-model="modelData.argText" placeholder="Add argument"></textarea>
      <button class="button button-small" ng-click="createArgument()">
        Submit
      </button>
    </div>

    <div ng-repeat="argument in getArguments">
      <argument-card arg-info="argument"></argument-card>
    </div>

  </ion-content>
</ion-view>
