<ion-view>
  <!--
      The nav bar that will be updated as we navigate between views.
    -->
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button class="button-clear" ng-click="pressBack()">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <H1> {{ debateData.premise }} </H1>
    <div class="button-bar">
      <a id="proBut" ng-click="switchArgState('pro')" class="button button-positive">Pro</a>
      <a id="conBut" ng-click="switchArgState('con')" class="button button-assertive button-outline">Con</a>
    </div>
    <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input ng-keyup="autoExpand($event)" class="expandText" type="text" placeholder="Add argument">
    </label>
    <button class="button button-small">
      Submit
    </button>
  </div>
  </ion-content>
</ion-view>
