<ion-view can-swipe-back="false" cache-view="false" view-title="Pros and Cons" >
  <ion-nav-bar class="bar-main">
    <ion-nav-back-button class="button-clear" ng-click="pressBack()">        </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="refreshArguments()">
    </ion-refresher>

    <div ng-show="stage === 'pre'">
      <div class="button-bar">
        <a id="proBut" ng-click="switchArgState('pro')" class="button button-positive">Pro</a>
        <a id="conBut" ng-click="switchArgState('con')" class="button button-assertive button-outline">Con</a>
      </div>

      <div class="row">
        <textarea rows="4" cols="40" ng-model="modelData.argText" placeholder="Add argument"></textarea>
        <button class="button button-small" ng-click="createArgument()">
          <i class="icon ion-paper-airplane"></i>
        </button>
      </div>
    </div>

    <h4 ng-show="stage !== 'pre'"> No more arguments allowed as the debate is over </h4>

    <div ng-repeat="argument in getArguments">
      <argument-card arg-info="argument" truncate=true></argument-card>
    </div>
  </ion-content>
</ion-view>
