<ion-view hide-nav-bar="true">
  <ion-slide-box does-continue="true" auto-play="true" slide-interval="10000" show-pager="false">
    <ion-slide class="intro-slider-slide">
      <h1 class="intro-slider-text">Debatable</h1>
      <h4 class="intro-slider-text">The platform for debating enthusiasts</h4>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      <p>< Swipe > </p>
    </ion-slide>

    <ion-slide class="intro-slider-slide">
      <h1 class="intro-slider-text">Debatable</h1>
      <h4 class="intro-slider-text">Want to participate in all sorts of debating?</h4>
      <p>From anime to sports, TV to education</p>
      </br>
      </br>
      </br>
      <h4 class="intro-slider-text">A online community for all</h4>

      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      <p>< Swipe > </p>
    </ion-slide>

    <ion-slide class="intro-slider-slide">
      <h1 class="intro-slider-text">Debatable</h1>
      <h4 class="intro-slider-text">Our platform allows you to:</h4>
      <p>Educate yourself on a wide range of topics</p>
      <p>Vote on topics that mean a lot to you</p>
      <p>Compete against an online community of debaters</p>
      <p>Form arguments with counter arguments</p>

      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      <p>< Swipe >  </p>
    </ion-slide>

    <ion-slide class="intro-slider-slide">
      <h1 class="intro-slider-text">Debatable</h1>
      <h5 class="intro-slider-text">Best of all, it's free!</h5>
      <h4 class="intro-slider-text">Why wait? Sign in now with Facebook.</h4>
    </ion-slide>
  </ion-slide-box>

  <ion-footer-bar class="bar bar-footer bar-dark">
    <div class="title intro-footer-style" ng-click="signIn()"><i class="button button-icon ion-social-facebook add-button-style" style="transform: translate(0px,5px);"></i> | Sign in using Facebook</div>
  </ion-footer-bar>
</ion-view>
