<ion-view view-title="Debatable">
    <ion-nav-buttons side="left">
        <div class="buttons">
            <button class="button button-icon ion-android-options add-button-style" ng-click="openFilterPopover($event)">
            </button>
        </div>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <div class="buttons">
            <button class="button button-icon ion-plus-round add-button-style" ng-click="modal.show()">
            </button>
        </div>
    </ion-nav-buttons>
    <div class="tabs-striped tabs-top tabs-background-main tabs-color-home-top">
        <div class="tabs">
            <a id="recent-tab" class="tab-item active" href="" ng-click="applySort('recent')">
                Recent
            </a>
            <a id="popular-tab" class="tab-item" href="" ng-click="applySort('popular')">
                Popular
            </a>
        </div>
    </div>
  <ion-content style="padding-top: 60px;">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="refreshDebates()">
    </ion-refresher>

    <div class="button-bar">
      <a class="button" ng-click="applySort('recent')">Recent</a>
      <a class="button" ng-click="applySort('popular')">Popular</a>
    </div>

    <div ng-repeat="debate in allDebates">
        <debate-card debate-info="debate"></debate-card>
    </div>
  </ion-content>
</ion-view>
