<ion-view view-title="Personal">
  <ion-content>
    <h1> PERSONAL </h1>
	<p> Favourited Debates </p>
	<button class="btn" ng-click="startedDebatesList()"> Debates Started </button>

	<!-- THis currently returns the IDs of the debates. We need to get the actuall debates from the all debates list using these ids. -->

	<div id="startedList" ng-repeat="debate in startedDebatesList">
      <debate-card debate-info="debate"></debate-card>
    </div>

	<p> Subscribed Debates </p>

	<div id="subscribedList" ng-repeat="subdebate in subscribedDebatesList">
      <debate-card debate-info="subdebate"></debate-card>
    </div>

	<p>  </p>
  </ion-content>
</ion-view>
