<ion-view view-title="Debatable">
    <ion-nav-buttons side="right">
        <button class="button button-custom add-button-style" ng-click="modal.show()"><h1 class="button-text">Create</h1></button>
    </ion-nav-buttons>
    <div class="tabs-striped tabs-top tabs-background-main tabs-color-home-top">
        <div class="tabs">
            <a id="recent-tab" class="tab-item active" href="" ng-click="applySort('recent')">
                Recent
            </a>
            <a id="popular-tab" class="tab-item" href="" ng-click="applySort('popular')">
                Popular
            </a>
            <a id="preferences-tab" class="tab-item" href="" ng-click="applySort('preference')">
                Preferences
            </a>
        </div>
    </div>
  <ion-content class="padding">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="refreshDebates()">
    </ion-refresher>

    <h2> Welcome {{ name }}</h2>
    <label class="item item-input" ng-click="openFilterPopover($event)" >
      <span class="input-label" >Filter By:</span>
      <span>{{filter.choice}}</span>
    </label>

    <div ng-repeat="debate in allDebates">
      <debate-card debate-info="debate"></debate-card>
    </div>
  </ion-content>
</ion-view>
