<ion-view view-title="Guidelines">
    <ion-content>
        <div class="card">
		  <div class="item item-divider" style="text-align:center">
		    Debatable Community Guidelines
		  </div>
		  <div class="item item-text-wrap">
		    We the Debatable Team would like to welcome you to our community and thank you for choosing our App.</br></br>

    		Our community is built on core values such as <strong>respect</strong>, <strong>honesty</strong>, and <strong>equality</strong>. In order to ensure these values are upheld, users should conduct themselves according to the following guidelines:</br></br>

			<strong>Rule 1:</strong></br>
    		All posts should be respectful and profanity free. When profane language is being quoted in support of an argument, the quote should be censored.</br></br>

			<strong>Rule 2:</strong></br>
    		Though we understand some topics may be controversial, debate and arguments cannot be made to attack or target anyone based on race, religion, gender or anything else for that matter.</br></br>
			
			<strong>Rule 3:</strong></br>
			Ridiculing other users for posts that they make is strictly not allowed as this taints our community's positive environment. Instead a counter argument should be made outlining the flaws in their argument.</br></br>

			<strong>Rule 4:</strong></br>
			Intentional misrepresentation of facts in arguments is strictly forbidden.</br></br>
			
			<strong>Any user found in violation of any of the above rules will be sanctioned accordingly. Sanctions range from warnings to permanent ban.</strong>
		  </div>
		  
		</div>
    </ion-content>
</ion-view>