<ion-view view-title="Settings">
  <ion-content>
    <div class="btn-group">
      <button class="button button-full button-light settings-button" ng-click="openMyInfoPage()">
        <div class="btn-name">My Info</div><div class="btn-arrow">></div>
      </button>
      <button class="button button-full button-light settings-button">
        <div class="btn-name">Set Handle</div><div class="btn-arrow">></div>
      </button>
    </div>
    <div class="btn-group">
      <button class="button button-full button-light settings-button">
        <div class="btn-name">Theme</div><div class="btn-arrow">></div>
      </button>
      <button class="button button-full button-light settings-button">
        <div class="btn-name">My Topics</div><div class="btn-arrow">></div>
      </button>
    </div>
    <div class="btn-group">
      <button class="button button-full button-light settings-button" ng-click="showActionsheet()">
        <div id="sign-out-txt">Sign Out</div>
      </button>
    </div>
  </ion-content>
</ion-view>
