<ion-view view-title="Personal">
  <ion-content>
    <h1> PERSONAL </h1>
	<p> Favourited Debates </p>
	<!-- <button class="btn" ng-click=""> Debates Started </button>-->
	<p></p>
	<p> Started Debates </p>
	<!-- THis currently returns the IDs of the debates. We need to get the actuall debates from the all debates list using these ids. -->

	<div id="startedList" ng-repeat="debate in startedDebatesList">
      <debate-card debate-info="debate"></debate-card>
    </div>

	<p> Subscribed Debates </p>

	<div id="subscribedList" ng-repeat="subdebate in subscribedDebatesList">
      <debate-card debate-info="subdebate"></debate-card>
    </div>

	<p>  </p>
	<div ng-controller="PersonalCtrl">
		<div ng-repeat="singleTopic in allTopics">
			<ion-item>
			  <ion-checkbox dark checked="true" ng-model="checkboxModel.value" ng-true-value="'Yes'" ng-false-value="'No'">{{singleTopic}}  {{checkboxModel.value}}</ion-checkbox>
			</ion-item>
		</div>
	</div>
	

  </ion-content>
</ion-view>
