<ion-view view-title="Notifications">
  <ion-content>
      <div class="title-style">Saturday 30th July</div>
      5 debate cards or so
      <div class="title-style">FRIDAY 29TH JULY</div>
      5 debate cards or so
      <div class="title-style">THURSDAY 28TH JULY</div>
      5 debate cards or so
      <div class="title-style">WEDNESDAY 27TH JULY</div>
      5 debate cards or so
      <div class="title-style">TUESDAY 26TH JULY</div>
      5 debate cards or so
      <button class="button button-full button-positive">
          View all
      </button>
  </ion-content>
</ion-view>
