<ion-view view-title="Settings">
  <ion-content>
    <div class="btn-group">
      <button class="button button-full button-light settings-button" ng-click="openMyInfoPage()">
        <div class="btn-name">My Info</div><div class="btn-arrow">></div>
      </button>
      <button class="button button-full button-light settings-button" ng-click="modal.show()">
        <div class="btn-name">Set Handle</div><div class="btn-arrow">></div>
      </button>
    </div>
    <div class="btn-group">
      <button class="button button-full button-light settings-button" ng-click="loadCommunityGuidelines()">
        <div class="btn-name">Community Guidelines</div><div class="btn-arrow">></div>
      </button>
      <button class="button button-full button-light settings-button" ng-click="loadPreferences()">
        <div class="btn-name">Preferences</div><div class="btn-arrow">></div>
      </button>
    </div>
    <div class="btn-group">
      <button class="button button-full button-light settings-button" ng-click="showSignOutAction()">
        <div id="sign-out-txt">Sign Out</div>
      </button>
    </div>
  </ion-content>
</ion-view>
