<ion-tabs class="tabs-striped tabs-color-main">
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/home">
      <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Personal" icon-off="ion-person" icon-on="ion-person" href="#/tab/personal">
    <ion-nav-view name="tab-personal"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Notifications" icon-off="ion-ios-bell" icon-on="ion-ios-bell" href="#/tab/notifications">
    <ion-nav-view name="tab-notifications"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
