<ion-view cache-view="false">
  <!--
      The nav bar that will be updated as we navigate between views.
    -->
  <div ng-controller="VoteCtrl">
    <ion-nav-bar class="bar-main">
      <ion-nav-back-button class="button-clear" ng-click="pressBack()"></ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-clear button-light" ng-click="">
          <p ng-bind-html="subVal"></p>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  </div>
  <ion-content class="">
    <h1> {{ debateData.premise }} </h1>
    <h3> Made by {{ name }} on {{ dateText }}</h3>
    <h3> Debate ends at: {{ endDateText }}</h3>
    <h3> Stage : {{ stageText }}</h3>

    <button class="button button-full button-calm" ng-show="isVoter&&voteChecked" ng-click="goMainDebate()">
      Start debating!
    </button>

    <div ng-show="!isVoter&&voteChecked">
      <h3 ng-show="stage === 'post'"> The debate over and post debate voting is now open. Please
                                      add another vote for the motion so a final score can be determined.
                                      (If this is your first time voting, your vote wont count towards final score)</h3>
      <button class="button button-block button-positive" ng-click="makeVote('Pro')">
        I Support The Proposed Premise
      </button>
      <button class="button button-block button-dark" ng-click="makeVote('Undecided')">
        I Am Undecided
      </button>
      <button class="button button-block button-assertive" ng-click="makeVote('Con')">
        I Oppose The Proposed Premise
      </button>
    </div>
  </ion-content>
</ion-view>
