<ion-view nav-transition="none" cache-view="false" view-title="Info">
  <ion-nav-bar class="bar-main">
    <ion-nav-back-button class="button-clear" ng-click="pressBack()"></ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-clear button-light" ng-click="subscribe(debateData.debateID)">
        <p ng-bind-html="subVal"></p>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div style="background-color:rgb(48,63,159); height: 40px; color: white; text-transform: uppercase; letter-spacing: 3px; font-size: 14px !important; font-weight: bold; text-align: center !important;">
      {{ debateStatus }}
    </div>
    <div>
      <h2 style="color: #C0C0C0; text-align: center; padding-top: 20px; font-size: 20px; text-transform: uppercase; letter-spacing: 3px;">{{ dateText }}</h2>
      <h3 style="text-align: center; color: #696969; text-transform: uppercase; letter-spacing: 1px;">{{ debateData.premise }}</h3>
      <p style="text-align: center; font-weight: bold; letter-spacing: 1px;"> Posted by {{ name }}</p>

    </div>
    <div ng-show="stage === 'pre'">
      <div ng-show="!isVoter&&voteChecked">
        <div class="title-style">Choose your preference</div>
        <div class="button-bar">
          <a class="button button-full button-balanced" ng-click="makeVote('Pro')" style="border-radius: 0px; margin: 0; text-transform: uppercase; letter-spacing: 3px; font-size: 12px !important; font-weight: bold;">Support</a>
          <a class="button button-full button-assertive" ng-click="makeVote('Con')" style="border-radius: 0px; margin: 0; text-transform: uppercase; letter-spacing: 3px; font-size: 12px !important; font-weight: bold;">Oppose</a>
        </div>
        <button class="button button-full button-dark" ng-click="makeVote('Undecided')" style="margin: 0; text-transform: uppercase; letter-spacing: 3px; font-size: 12px !important; font-weight: bold;">Unsure</button>
      </div>
      <div ng-show="isVoter&&voteChecked">
        <button class="button button-full button-modal" style=" background-color:rgb(48,63,159) !important;  font-weight: bold; border-radius: 0px; margin: 0; text-transform: uppercase;" ng-click="goMainDebate()">
          <div ng-show="stage === 'pre'">Enter live debate</div>
        </button>
      </div>
      <div style="text-align: center; padding-top: 20px; text-transform: uppercase; letter-spacing: 2px;" >
        <p> Ends {{ endDateText }}</p>
      </div>
    </div>

    <div ng-show="stage === 'post'">
      <button class="button button-full button-modal" style=" background-color:rgb(48,63,159) !important;  font-weight: bold; border-radius: 0px; margin: 0; text-transform: uppercase;"  ng-show="isVoter&&voteChecked" ng-click="goMainDebate()">
        <div ng-show="stage === 'post'">View arguments</div>
      </button>
      <div ng-show="!isVoter&&voteChecked">
        <div ng-show="stage === 'post'" style="text-align: center; letter-spacing: 1px; font-size: 12px;">
          <p>This debate is now entering post-debate voting stage! </p>
          <p>Cast another vote on the verdict. Your vote will not be counted unless you voted before the end date. </p>
        </div>
        <div class="title-style" style="padding-top: 5">Choose your preference</div>
        <div class="button-bar">
          <a class="button button-full button-balanced" ng-click="makeVote('Pro')" style="border-radius: 0px; margin: 0; text-transform: uppercase; letter-spacing: 3px; font-size: 12px !important; font-weight: bold;">Support</a>
          <a class="button button-full button-assertive" ng-click="makeVote('Con')" style="border-radius: 0px; margin: 0; text-transform: uppercase; letter-spacing: 3px; font-size: 12px !important; font-weight: bold;">Oppose</a>
        </div>
        <button class="button button-full button-dark" ng-click="makeVote('Undecided')" style="margin: 0; text-transform: uppercase; letter-spacing: 3px; font-size: 12px !important; font-weight: bold;">Unsure</button>
      </div>
      <div style="text-align: center; padding-top: 20px; text-transform: uppercase; letter-spacing: 2px;">
        <p> This premise was debated on {{ endDateText }}</p>
      </div>
    </div>


    <div ng-show="stage === 'closed'">
      <button class="button button-full button-modal" style="background-color:rgb(48,63,159) !important; border-radius: 0px; margin: 0; text-transform: uppercase; font-weight: bold;"  ng-show="voteChecked" ng-click="goMainDebate()">
        View arguments
      </button>

      <div class="poll-wrapper">
        <div class="winning-date">Here are the results of this debate, which took place on {{ endDateText }}:</div>
        <div class="winning-vote">Winner</div><div class="winning-side">{{ winningSide }}</div>
      </div>

      <div class="poll-wrapper">
        <div class="title-style">Poll results before debate</div>
        <div class="supporting-vote">Support</div><div class="stat">{{debateData.preProVotes}}</div>
        <div class="opposing-vote">Oppose</div><div class="stat">{{debateData.preConVotes}}</div>
        <div class="unsure-vote">Unsure</div><div class="stat">{{debateData.preUndecidedVotes}}</div>
      </div>
      <div class="poll-wrapper">
        <div class="title-style">Poll results after debate</div>
        <div class="supporting-vote">Support</div><div class="stat">{{debateData.postProVotes}}</div>
        <div class="opposing-vote">Oppose</div><div class="stat">{{debateData.postConVotes}}</div>
        <div class="unsure-vote">Unsure</div><div class="stat">{{debateData.postUndecidedVotes}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
