<div class="card argument-card" ng-class = "cardClass">
  <div class="argument-handle">
    {{ name }}
  </div>
  <div class="row-two-holder">
    <div class="argument-holder" ng-click="goArgumentView()">
      {{ argText }}
    </div>
    <div class="upvote-holder">
      <i class="button button-icon ion-chevron-up argument-upvotes-ticker" id="upArrow{{argInfo.argumentID}}" ng-click="upVoteArgument()"></i>
      <h2 class="argument-upvotes">{{argInfo.upvotes}}</h2>
    </div>
  </div>
  <div class="argument-date">
    {{ dateText }}
  </div>
</div>
