<div class="card argument-card" ng-class = "cardClass" ng-click="goArgumentView()">
  <div class="argument-handle">
    {{ name }}
  </div>
  <div class="argument-holder">
    {{ argText }}
  </div>
  <div class="upvote-holder">
    <i class="button button-icon ion-chevron-up argument-upvotes-ticker" id="upArrow{{argInfo.argumentID}}" ng-click="upVoteArgument()"></i>
    <h2 class="argument-upvotes">{{argInfo.upvotes}}</h2>
  </div>
  <div class="argument-date">
    {{ dateText }}
  </div>
</div>
