body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.bar.bar-main {
  border-color: rgb(48,63,159) !important;
  background-color: rgb(48,63,159) !important;
  color: #fff;
}

.tabs-striped.tabs-background-main .tabs {
  background-color: rgb(48,63,159) !important;
  color: #fff !important;
  background-image: none;
}

.tabs-striped.tabs-color-main .tab-item {
  color: rgba(48,63,159, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-color-main .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-color-main .tab-item.tab-item-active, .tabs-striped.tabs-color-main .tab-item.active, .tabs-striped.tabs-color-main .tab-item.activated {
    color: rgb(48,63,159);
    border: 0 solid rgb(48,63,159);
    border-top-width: 2px; }
    .tabs-striped.tabs-color-main .tab-item.tab-item-active .badge, .tabs-striped.tabs-color-main .tab-item.active .badge, .tabs-striped.tabs-color-main .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }

.tabs-striped.tabs-color-home-top .tab-item {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-color-home-top .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-color-home-top .tab-item.tab-item-active, .tabs-striped.tabs-color-home-top .tab-item.active, .tabs-striped.tabs-color-home-top .tab-item.activated {
    color: white;
    border: 0 solid white;
    border-top-width: 2px; }
    .tabs-striped.tabs-color-home-top .tab-item.tab-item-active .badge, .tabs-striped.tabs-color-home-top .tab-item.active .badge, .tabs-striped.tabs-color-home-top .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }


.bar.bar-modal {
  border-color: #3F51B5;
  background-color: #3F51B5;
  background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
  color: #fff;
}

.bar.bar-modal .title {
    color: #fff;
}

.bar-modal .button {
  border-color: #111;
  background-color: #3F51B5;
  color: #fff; }
  .bar-modal .button:hover {
    color: #fff;
    text-decoration: none; }
  .bar-modal .button.active, .bar-modal .button.activated {
    border-color: #000; }
  .bar-modal .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px; }
  .bar-modal .button.button-icon {
    border-color: transparent;
    background: none; }

    .button.button-modal {
      border-color: transparent;
      background-color: #3F51B5;
      color: #fff; }
      .button.button-modal:hover {
        color: #fff;
        text-decoration: none; }
      .button.button-modal.button-clear {
        border-color: transparent;
        background: none;
        box-shadow: none;
        color: #3F51B5; }
      .button.button-modal.button-icon {
        border-color: transparent;
        background: none; }
      .button.button-modal.button-outline {
        border-color: #3F51B5;
        background: transparent;
        color: #3F51B5; }
        .button.button-modal.button-outline.active, .button.button-positive.button-outline.activated {
          background-color: #3F51B5;
          box-shadow: none;
          color: #fff; }


.back-button {
  color: white !important;
}

.pane {
    background-color: #efeff4 !important;
}

.ion-navicon {
  color: white !important;
}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 50px;
  color: #000;
  background-color: #f0f5f5;
  text-align: center;
  height: 87vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#list {
  width: 200px;
  margin: 0px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

.joinbtn{
  position: absolute;
  width: 50vw;
  font-size: 20px;
  bottom:10vh;
  left: 25vw;
}

.overlapPanel {
  position: fixed;
  left: 5vw;
  top: 0vh;
  width: 90vw;
  height: 75vh;
  z-index: 10;
}

.btn-group {
  margin-top: 25px;
}

.settings-button {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.btn-name {
	display: inline-block;
  text-align: left;
  padding-left: 10px;
	width: 90%;
}

.btn-arrow {
  color: #c7c7cc;
  	display: inline-block;
    text-align: right;
    padding-right: 10px;
	width: 10%;
}

#sign-out-txt {
  color: red;
}

.user-profile-img-div {
    padding-top: 20px;
    margin: 0 auto;
    width: 50%;
}

.user-img-padding {
  padding: 10px;
  background-color: white;
}

.user-profile-img {
  width: 100%;
}

.user-profile-name {
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.user-debate-rank {
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
}

.user-debate-count {
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
}

.conArgcard {
  position: relative;
  border-style: solid;
  border-top-width: 3px;
  border-top-color: rgb(255, 160, 160);
  right: -5px;
}

.proArgcard {
  position: relative;
  left: -5px;
  border-style: solid;
  border-top-width: 3px;
  border-top-color: rgb(160, 160, 255);
}

.unArgcard {
  border-style: solid;
  border-top-width: 3px;
  border-top-color: rgb(173, 126, 195);
}

.handle-upper-pad {
  height: 40px;
}

/* This is to fix that problem with the hidden debate premise in the main debate view, there is most likely a better solution */

.main-debate-upper-pad {
  height: 40px !important;
}

.argument-text {
  width: 90%;
  height: 30%;
}

.intro-slider-slide {
  background-color: #3F51B5;
  color:white !important;
  height:100vh;
  width: auto;
}

.intro-slider-text {
  font-weight: bold;
  color: white;
}

.button.add-button-style {
  border-color: transparent;
  background-color: inherit;
  color: #fff; }
.button.add-button-style:hover {
  color: #fff;
  text-decoration: none; }
.button.add-button-style.active, .button.add-button-style.activated {
 }
.button.add-button-style.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
}
.button.add-button-style.button-icon {
  border-color: transparent;
  background: none; }
.button.add-button-style.button-outline {
  background: transparent;
   }
.button.add-button-style.button-outline.active, .button.add-button-style.button-outline.activated {
  box-shadow: none;
  color: #fff; }

.button-custom .icon:before{
  width: 50px !important;

  height: 50px !important;
}

.button-custom {
  font-size: 50pt;
  height: 50px !important;
  transform: translate(-15px, -4px);
}

.button-text {
  color: white;
  margin-top:-100px;
  font-size: 14pt;
}