body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.bar.bar-main {
  background-color: rgba(56,126,245,.85) !important;
  color: white;
}

.pane {
    background-color: #efeff4 !important;
}

.ion-navicon {
  color: white !important;
}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 50px;
  color: #000;
  background-color: #f0f5f5;
  text-align: center;
  height: 87vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#list {
  width: 200px;
  margin: 0px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

.joinbtn{
  position: absolute;
  width: 50vw;
  font-size: 20px;
  bottom:10vh;
  left: 25vw;
}

.overlapPanel {
  position: fixed;
  left: 5vw;
  top: 0vh;
  width: 90vw;
  height: 75vh;
  z-index: 10;
}

.btn-group {
  margin-top: 25px;
}

.settings-button {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.btn-name {
	display: inline-block;
  text-align: left;
  padding-left: 10px;
	width: 90%;
}

.btn-arrow {
  color: #c7c7cc;
  	display: inline-block;
    text-align: right;
    padding-right: 10px;
	width: 10%;
}

#sign-out-txt {
  color: red;
}
